<header>
    <nav>
        <h1><%= link_to "BLOG" ,root_path%>
        <span>
<%= link_to "APP", root_path, style: "color: #db0303; text-decoration: none "%>        </span , root_path></h1>
        <ul class= "left">
            <li>
                <%= link_to "HOME", root_path%>
            </li>
            <div class="navbar__links">
            
            <%= link_to "+ New Post", new_article_path %>
        </div>
        </ul>
    </nav>
</header>